[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = ">=2.22"
apscheduler = "*"
python-nest = "<4"

[dev-packages]
pylint = "*"

[requires]
python_version = "3"
